
<div class="card animated fadeInLeftTiny animation-delay-5">
    <div class="card-body card-body-big">
        <h1 class="no-mt">{{ post.title }}</h1>
        <div class="mb-4">
            <a href="javascript:void(0)" class="ms-tag ms-tag-info" *ngFor="let t of post.postTags">{{t.tag.tagName}}</a>
            <span class="ml-1 d-none d-sm-inline"><i class="zmdi zmdi-time mr-05 color-info"></i> <span class="color-medium-dark">{{ post.creationDate | date:'longDate' }}</span></span>
            <span class="ml-1"><i class="zmdi zmdi-comments color-royal mr-05"></i> 25</span>
        </div>
        <div [innerHTML]="post.bodyHtml"></div>
    </div>
</div>
<div class="card animated fadeInLeftTiny animation-delay-5">
    <div class="card-body card-body-big">
        <h1 class="no-mt">{{ post.title }}</h1>
        <div class="row" *ngFor="let c of post.comments">
            <label>{{ c.text }}</label>
        </div>
    </div>
</div>


