<aside class="ms-footbar">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 ms-footer-col">
                <div class="ms-footbar-block">
                    <h3 class="ms-footbar-title">Subscribe</h3>
                    <p class="">Sign up for blog updates.</p>

                </div>
            </div>
            <div class="col-lg-4 col-md-12 ms-footer-col">
                <div class="ms-footbar-block">
                    <form (submit)="onEmailSignup()">
                        <div class="form-group label-floating mt-2 mb-1">
                            <div class="input-group ms-input-subscribe">
                                <label class="control-label" for="ms-subscribe"><i class="zmdi zmdi-email"></i> Email Adress</label>
                                <input type="email" id="ms-subscribe" class="form-control" name="emailSubscribe" [(ngModel)]="emailSubscribe" required>
                            </div>
                        </div>
                        <button class="ms-subscribre-btn" type="submit">Subscribe</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 ms-footer-col ms-footer-text-right">
                <div class="ms-footbar-block">
                    <h3 class="ms-footbar-title">Social Media</h3>
                    <div class="ms-footbar-social">
                        <a href="http://twitter.com/@jon_thomasson" target="_blank" class="btn-circle btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="https://www.youtube.com/user/forestfolks" target="_blank" class="btn-circle btn-youtube"><i class="zmdi zmdi-youtube-play"></i></a>
                        <a href="https://github.com/jonthomasson" target="_blank" class="btn-circle btn-github"><i class="zmdi zmdi-github"></i></a>
                        <a href="https://www.linkedin.com/in/jonthomasson/" target="_blank" class="btn-circle btn-github"><i class="zmdi zmdi-linkedin"></i></a>
                        <a href="javascript:void(0)" target="_blank" class="btn-circle btn-github"><i class="zmdi zmdi-rss"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
<footer class="ms-footer">
    <div class="container">
        <p>Copyright &copy; Jon Thomasson 2019</p>
    </div>
</footer>
<div class="btn-back-top">
    <a href="#" data-scroll id="back-top" class="btn-circle btn-circle-primary btn-circle-sm btn-circle-raised "><i class="zmdi zmdi-long-arrow-up"></i></a>
</div>
