<div class="ms-hero-page-override ms-hero-img-team ms-hero-bg-primary">
    <div class="container">
        <div class="text-center">
            <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Contact Us</h1>
            <p class="lead lead-lg color-light text-center center-block mt-2 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">Do you need a boost in your project? <br>Contact us we will help you to finish your dream.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="card card-hero animated fadeInUp animation-delay-7">
        <div class="card-body">
            <form class="form-horizontal" (submit)="onContactMe()">
                <fieldset class="container">
                    <div class="form-group row">
                        <label for="inputEmail" autocomplete="false" class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="name" placeholder="Name" name="name" [(ngModel)]="contact.name" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail" autocomplete="false" class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-9">
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email" [(ngModel)]="contact.email" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail" autocomplete="false" class="col-lg-2 control-label">Subject</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="inputSubject" placeholder="Subject" name="subject" [(ngModel)]="contact.subject" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="textArea" class="col-lg-2 control-label">Message</label>
                        <div class="col-lg-9">
                            <textarea class="form-control" rows="3" id="textArea" placeholder="Yout message..." name="messageText" [(ngModel)]="contact.messageText" required></textarea>
                        </div>
                    </div>
                    <div class="form-group row justify-content-end">
                        <div class="col-lg-10">
                            <button type="submit" class="btn btn-raised btn-primary">Submit</button>
                            <button type="button" class="btn btn-danger">Cancel</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>