<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#333">
    <title>Jon Thomasson</title>
    <meta name="description" content="Jon Thomasson Blog">
    <link rel="shortcut icon" href="assets/img/favicon.png?v=3">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="assets/css/preload.min.css">
    <link rel="stylesheet" href="assets/css/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.blue-500.min.css">
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="ms-preload" class="ms-preload">
        <div id="status">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>
    <div class="ms-site-container">
        <header class="ms-header ms-header-primary">
            <!--ms-header-primary-->
            <div class="container container-full">
                <div class="ms-title">
                    <a href="index.html">
                        <img src="assets/img/demo/headshot50x50.jpg" alt="..." class="rounded-circle mr-1">
                        <h1 class="animated fadeInRight animation-delay-6">Jon <span>Thomasson</span></h1>
                    </a>
                </div>
                <div class="header-right">
                    <div class="share-menu">
                        <ul class="share-menu-list">
                            <li class="animated fadeInRight animation-delay-3"><a href="javascript:void(0)" class="btn-circle btn-google"><i class="zmdi zmdi-google"></i></a></li>
                            <li class="animated fadeInRight animation-delay-2"><a href="javascript:void(0)" class="btn-circle btn-facebook"><i class="zmdi zmdi-facebook"></i></a></li>
                            <li class="animated fadeInRight animation-delay-1"><a href="javascript:void(0)" class="btn-circle btn-twitter"><i class="zmdi zmdi-twitter"></i></a></li>
                        </ul>
                        <a href="javascript:void(0)" class="btn-circle btn-circle-primary animated zoomInDown animation-delay-7"><i class="zmdi zmdi-share"></i></a>
                    </div>
                    <form class="search-form animated zoomInDown animation-delay-9">
                        <input id="search-box" type="text" class="search-input" placeholder="Search..." name="q" />
                        <label for="search-box"><i class="zmdi zmdi-search"></i></label>
                    </form>
                    <a href="javascript:void(0)" class="btn-circle btn-rss"><i class="zmdi zmdi-rss"></i></a>

                </div>
            </div>
        </header>
        <nav class="navbar navbar-expand-md  navbar-static ms-navbar ms-navbar-primary">
            <div class="container container-full">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <!-- <img src="assets/img/demo/logo-navbar.png" alt=""> -->
                        <img src="assets/img/demo/headshot35x35.jpg" alt="..." class="rounded-circle mr-1">
                        @*<span class="ms-logo ms-logo-sm">M</span>*@
                        <span class="ms-title">Jon <strong>Thomasson</strong></span>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="ms-navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Me</a>
                        </li>
                    </ul>

                </div>
            </div> <!-- container -->
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                @RenderBody()
                </div>
                <div class="col-lg-4">
                    <div class="card animated fadeInUp animation-delay-7">
                        <div class="ms-hero-bg-info ms-hero-img-mountain">
                            <h3 class="color-white index-1 text-center no-m pt-4">Jon Thomasson</h3>
                            <div class="color-medium index-1 text-center np-m">@@jon_thomasson</div>
                            <img src="~/assets/img/demo/headshot300x300.jpg" alt="..." class="img-avatar-circle">
                        </div>
                        <div class="card-body overflow-hidden pt-4 text-center">
                            <h3 class="color-primary">About me</h3>
                            <p>Husband, father of 4, and a cancer survivor. I'm a software developer by day, with a passion for designing hardware and electronics by night. Callsign: KF6LMD</p>
                            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-github"><i class="zmdi zmdi-github"></i></a>
                            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-youtube"><i class="zmdi zmdi-youtube"></i></a>
                            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-linkedin"><i class="zmdi zmdi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="card card-primary animated fadeInUp animation-delay-7">
                        <div class="card-header">
                            <h3 class="card-title"><i class="zmdi zmdi-apps"></i> Navigation</h3>
                        </div>
                        <div class="card-tabs">
                            <ul class="nav nav-tabs nav-tabs-transparent indicator-primary nav-tabs-full nav-tabs-4" role="tablist">
                                <li class="nav-item"><a href="#favorite" aria-controls="favorite" role="tab" data-toggle="tab" class="nav-link withoutripple active"><i class="no-mr zmdi zmdi-star"></i></a></li>
                                <li class="nav-item"><a href="#categories" aria-controls="categories" role="tab" data-toggle="tab" class="nav-link withoutripple"><i class="no-mr zmdi zmdi-folder"></i></a></li>
                                <li class="nav-item"><a href="#archives" aria-controls="archives" role="tab" data-toggle="tab" class="nav-link withoutripple"><i class="no-mr zmdi zmdi-time"></i></a></li>
                                <li class="nav-item"><a href="#tags" aria-controls="tags" role="tab" data-toggle="tab" class="nav-link withoutripple"><i class="no-mr zmdi zmdi-tag-more"></i></a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active show" id="favorite">
                                <div class="card-body overflow-hidden">
                                    <div class="ms-media-list">
                                        <div class="media mb-2">
                                            <div class="media-left media-middle">
                                                <a href="#">
                                                    <img class="d-flex mr-3 media-object media-object-circle" src="assets/img/demo/p75.jpg" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="javascript:void(0)" class="media-heading">Lorem ipsum dolor sit amet in consectetur adipisicing</a>
                                                <div class="media-footer text-small">
                                                    <span class="mr-1"><i class="zmdi zmdi-time color-info mr-05"></i> August 18, 2016</span>
                                                    <span><i class="zmdi zmdi-folder-outline color-success mr-05"></i> <a href="javascript:void(0)">Design</a></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media mb-2">
                                            <div class="media-left media-middle">
                                                <a href="#">
                                                    <img class="d-flex mr-3 media-object media-object-circle" src="assets/img/demo/p75.jpg" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="javascript:void(0)" class="media-heading">Nemo enim ipsam voluptatem quia voluptas sit aspernatur</a>
                                                <div class="media-footer text-small">
                                                    <span class="mr-1"><i class="zmdi zmdi-time color-info mr-05"></i> August 18, 2016</span>
                                                    <span><i class="zmdi zmdi-folder-outline color-danger mr-05"></i> <a href="javascript:void(0)">Productivity</a></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="media-left media-middle">
                                                <a href="#">
                                                    <img class="d-flex mr-3 media-object media-object-circle" src="assets/img/demo/p75.jpg" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="javascript:void(0)" class="media-heading">inventore veritatis et vitae quasi architecto beatae </a>
                                                <div class="media-footer text-small">
                                                    <span class="mr-1"><i class="zmdi zmdi-time color-info mr-05"></i> August 18, 2016</span>
                                                    <span><i class="zmdi zmdi-folder-outline color-royal-light mr-05"></i> <a href="javascript:void(0)">Resources</a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="categories">
                                <div class="list-group">
                                    <a href="javascript:void(0)" class="list-group-item list-group-item-action withripple"><i class=" color-info zmdi zmdi-cocktail"></i>Design <span class="ml-auto badge-pill badge-pill-info">25</span></a>
                                    <a href="javascript:void(0)" class="list-group-item list-group-item-action withripple"><i class=" color-warning zmdi zmdi-collection-image"></i> Graphics <span class="ml-auto badge-pill badge-pill-warning">14</span></a>
                                    <a href="javascript:void(0)" class="list-group-item list-group-item-action withripple"><i class=" color-danger zmdi zmdi-case-check"></i> Productivity <span class="ml-auto badge-pill badge-pill-danger">7</span></a>
                                    <a href="javascript:void(0)" class="list-group-item list-group-item-action withripple"><i class=" color-royal zmdi zmdi-folder-star-alt"></i>Resources <span class="ml-auto badge-pill badge-pill-royal">67</span></a>
                                    <a href="javascript:void(0)" class="list-group-item list-group-item-action withripple"><i class=" color-success zmdi zmdi-play-circle-outline"></i>Multimedia <span class="ml-auto badge-pill badge-pill-success">32</span></a>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="archives">
                                <div class="list-group">
                                    <a href="javascript:void(0)" class="list-group-item list-group-item-action withripple"><i class="zmdi zmdi-calendar"></i> January 2016 <span class="ml-auto badge-pill">25</span></a>
                                    <a href="javascript:void(0)" class="list-group-item list-group-item-action withripple"><i class="zmdi zmdi-calendar"></i> February 2016 <span class="ml-auto badge-pill">14</span></a>
                                    <a href="javascript:void(0)" class="list-group-item list-group-item-action withripple"><i class="zmdi zmdi-calendar"></i> March 2016 <span class="ml-auto badge-pill">9</span></a>
                                    <a href="javascript:void(0)" class="list-group-item list-group-item-action withripple"><i class="zmdi zmdi-calendar"></i> April 2016 <span class="ml-auto badge-pill">12</span></a>
                                    <a href="javascript:void(0)" class="list-group-item list-group-item-action withripple"><i class="zmdi zmdi-calendar"></i> June 2016 <span class="ml-auto badge-pill">65</span></a>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tags">
                                <div class="card-body overflow-hidden overflow-hidden text-center">
                                    <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Design</a>
                                    <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Productivity</a>
                                    <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Web</a>
                                    <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Resources</a>
                                    <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Multimedia</a>
                                    <a href="javascript:void(0)" class="ms-tag ms-tag-primary">HTML5</a>
                                    <a href="javascript:void(0)" class="ms-tag ms-tag-primary">CSS3</a>
                                    <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Javascript</a>
                                    <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Jquery</a>
                                    <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Bootstrap</a>
                                    <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Angular</a>
                                    <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Gulp</a>
                                    <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Atom</a>
                                    <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Fonts</a>
                                    <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Pictures</a>
                                    <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Developers</a>
                                    <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Code</a>
                                    <a href="javascript:void(0)" class="ms-tag ms-tag-primary">SASS</a>
                                    <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Less</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div> <!-- container -->
        <aside class="ms-footbar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 ms-footer-col">
                        <div class="ms-footbar-block">
                            <h3 class="ms-footbar-title">Subscribe</h3>
                            <p class="">Sign up for blog updates.</p>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 ms-footer-col">
                        <div class="ms-footbar-block">
                            <form>
                                <div class="form-group label-floating mt-2 mb-1">
                                    <div class="input-group ms-input-subscribe">
                                        <label class="control-label" for="ms-subscribe"><i class="zmdi zmdi-email"></i> Email Adress</label>
                                        <input type="email" id="ms-subscribe" class="form-control">
                                    </div>
                                </div>
                                <button class="ms-subscribre-btn" type="button">Subscribe</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 ms-footer-col ms-footer-text-right">
                        <div class="ms-footbar-block">
                            <h3 class="ms-footbar-title">Social Media</h3>
                            <div class="ms-footbar-social">
                                <a href="javascript:void(0)" class="btn-circle btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                                <a href="javascript:void(0)" class="btn-circle btn-youtube"><i class="zmdi zmdi-youtube-play"></i></a>
                                <a href="javascript:void(0)" class="btn-circle btn-github"><i class="zmdi zmdi-github"></i></a>
                                <a href="javascript:void(0)" class="btn-circle btn-github"><i class="zmdi zmdi-linkedin"></i></a>
                                <a href="javascript:void(0)" class="btn-circle btn-github"><i class="zmdi zmdi-rss"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <footer class="ms-footer">
            <div class="container">
                <p>Copyright &copy; Jon Thomasson 2019</p>
            </div>
        </footer>
        <div class="btn-back-top">
            <a href="#" data-scroll id="back-top" class="btn-circle btn-circle-primary btn-circle-sm btn-circle-raised "><i class="zmdi zmdi-long-arrow-up"></i></a>
        </div>
    </div>
    @RenderSection("scripts", false)
    <script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/app.min.js"></script>
    <script>
      (function(i, s, o, g, r, a, m)
      {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function()
        {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-90917746-2', 'auto');
      ga('send', 'pageview');
    </script>
</body>
</html>